@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
body{
    background-color: rgb(249, 230, 246);
}
#nav {
    padding: 20px 10px;
    width: 100%;
}
#notheader{
    margin: 0px 200px;
}

/*Claude*/
.main-section {
    margin: 20px 150px ;
    padding-top: 10px; /* Add padding to sections to account for fixed header */
    margin-top: -10px; /* Negative margin to offset the padding */
    margin-bottom: 50px;
}
/*Claude*/


/**/

h1{
    font-size: 35px;
    text-align: center;
}
p{
    text-shadow: none;
    }
/**/

#mainTitle{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 0px;
    padding-top: 180px;
    font-weight: 900;
    color: #90399c;
}

#nav {
display:grid;
text-align: center;

}
#nav .firstnav{
    color: #000000;
    padding-bottom: 15px;
}
#nav h3{
    text-align: center;
}
#nav .nav-link{
    margin: 5px 0;
    color: #e354ff;
}
#nav .nav-link:active{
    color: #000000;
}

#nav .nav-link:hover{
    color: #8800d6;
}
fieldset {
    text-align: center;
    margin: 10px 30px;
    color: rgb(236, 109, 255);
    border: #000 solid 2px;
    border-radius: 50%;
}
fieldset:hover{
    box-shadow: 10px 10px 50px #dd00ff;
    background-color: #ee83ff;
    border: #dd00ff solid 2px;
}
fieldset p{
    border-radius: 10px;
    padding: 200px;
    margin: 20px;
}
section{
    border: #fa62ff solid 2px;
    border-radius: 10px;
}
section:hover{
    border: #000000 solid 2px;
    background-color: hsl(292, 100%, 90%);
    box-shadow: 10px 10px 50px #e354ff;
}
fieldset li{
    font-weight: 900;
    color: #9909b9;
}
#Commande li{
    margin: 10px 50px;
    list-style: square;
}
#Commande ul{
    margin: 20px 80px;
}
section li{
    font-weight: 900;
    color: #90399c;
}
fieldset p,
section p{
    margin: 20px 60px;
    padding: 0px 20px;
    line-height: 25px;
    font-weight: 600;
}

