/*------------------top button---------------------------*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 110px; /* Place the button at the bottom of the page */
    right: 75px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(201, 66, 255); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border: #000 solid 2px;
    font-weight: 900;
    border-radius: 50px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
  }
  
  #myBtn:hover {
    border: #ef79ff solid 2px;
    background-color: #000000; /* Add a dark-grey background on hover */
  }